{% extends "layout.html" %}

{% block title %}
    Change your password
{% endblock %}

{% block main %}
    <h1>Change your password</h1>
    <form action="/change-password" method="post">
        <input
            name="username"
            type="text"
            autofocus
            autocomplete="off"
            placeholder="Username"
            class="form-control mx-auto w-auto"
        >
        <input
            name="password"
            type="password"
            autofocus
            autocomplete="off"
            placeholder="Password"
            class="form-control mx-auto w-auto"
        >
        <input
            name="confirmation"
            type="password"
            autofocus
            autocomplete="off"
            placeholder="Confirm the password"
            class="form-control mx-auto w-auto"
        >
        <input
            name="new_password"
            type="password"
            autofocus
            autocomplete="off"
            placeholder="New password"
            class="form-control mx-auto w-auto"
        >
        <button
            type="submit"
            class="btn btn-primary"
        >
            Change!
        </button>
    </form>
{% endblock %}
