{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1>Sign in!</h1>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <script>
        (() => {
            const { localStorage } = window;
            const lastLoginUsername = localStorage.getItem("lastUsernameUsed");
            if (!lastLoginUsername) return;
            document.querySelector('[name="username"]').value = lastLoginUsername;
        })();
    </script>
{% endblock %}
